<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}} - VS Cobble Mod</title>
  </head>
{% seo %}
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://prokube.github.io/">FNF: VS Cobble</a></h1>

        <p>{{ site.description }}</p>

        <p>
          <li><a href="github.com/Prokube/VSCobbleMod/">View On <strong>GitHub</strong></a></li>
        </p>
      </header>
      <section id="content">

      {% include header.html %}
      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a> (thanks)</small></p>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
    {% if page.url == "/" %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    {% endif %}
 <!--I wonder what happens when you delete the google analytics function :thonk:-->
  </body>
</html>
